alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias be="bundle exec"

alias code="cd ~/code"

alias g="git"

alias h="cd ~/"

alias kp="cd ~/code/kaeuferportal"

alias rubocop="bundle exec rubocop"
