alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias be="bundle exec"

alias code="cd ~/code"

alias g="git"
alias gpl="git pl"
alias gps="git push"
alias gst="git st"

alias h="cd ~/"

alias kp="cd ~/code/kaeuferportal"

alias rbp="bundle exec rails_best_practices"
alias rubocop="bundle exec rubocop"
