"*":
  "atom-material-ui":
    tabs: {}
    treeView: {}
    ui: {}
  core:
    disabledPackages: [
      "bookmarks"
      "language-csharp"
      "language-c"
      "language-clojure"
      "language-java"
      "language-less"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-toml"
      "package-generator"
      "welcome"
      "go-plus"
    ]
    ignoredNames: [
      "coverage/**"
      "tmp/**"
      "rdoc/**"
      "public/cached-assets/**"
      "doc/**"
      "public/uploads/**"
    ]
    themes: [
      "atom-light-ui"
      "gl-light-syntax"
    ]
  editor:
    fontFamily: "OpenDyslexicMono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 79
    showInvisibles: true
  "exception-reporting":
    userId: "75e15a7c-e9b6-4918-389c-0f24690b28e4"
  "fuzzy-finder": {}
  "go-plus": {}
  pigments: {}
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    enableVcsColoring: true
    tabScrolling: true
    usePreviewTabs: true
  welcome:
    showOnStartup: false
".haml.text":
  editor:
    preferredLineLength: 79
".hamlc.text":
  editor:
    preferredLineLength: 79
